.blog-ask-section {
  .blog-ask-top {
    margin-bottom: 40px;
  }

  .news-heading {
    margin: 0;
  }

  .blog-filters-button {
    cursor: pointer;

    &:hover {
      mark {
        text-decoration: none;
      }
    }

    .mdi {
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
      line-height: 22px;
      margin-right: 5px;
    }

    mark {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      background: none;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      letter-spacing: .8px;
      text-decoration: underline;
    }
  }
}

.feeds-select {
  border-radius: 3px;
  box-shadow: $bs-default;
  background-color: #fff;
  padding: 30px;

  .checkbox {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.checkbox_feeds {
  &:hover {
    label {
      .remember-me-text {
        color: $blue-dark !important;
      }
    }
  }
  
  label {
    padding-left: 0 !important;

    .check-wrap {
      display: none;
    }
  }
}

.ask-wrapper {
  border-radius: 3px;
  box-shadow: $bs-default;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  cursor: pointer;

  .author-info-block {
    margin-bottom: 20px;
  }

  .question-span {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }
}

.ask-modal-body {
  background-color: #fff;
}

.ask-modal-body-top {
  margin-bottom: 40px;
}

.ask-modal-body-textarea {
  margin-bottom: 20px;
}