.setting-wrapper {
  background-color: #4fc5eb;
  margin-top: -70px;
  padding-top: 110px;
  padding-bottom: 50px;
  min-height: calc(100vh - 63px);

  @media (max-width: $screen-xs-max) {
    padding-top: 85px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 127, 172, 1), rgba(0, 127, 172, 0));
    z-index: 0;
  }

  .settings-section {
    position: relative;
    z-index: 10;
  }
}

.heading-title {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  margin-bottom: 65px;
  box-shadow: $bs-default;

  @media (max-width: $screen-md-max) {
    margin-bottom: 30px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 15px 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: $blue-dark;
    margin: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

.settings-user-info {
  margin-bottom: 40px;

  @media (max-width: $screen-xs-max) {
    display: block !important;
  }

  span {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }

    i {
      font-style: normal;
      font-weight: 700;
    }
  }
}

.settings-holder {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: $bs-default;
  position: relative;

  &.settings-remove-bg-mobile {
    @media (max-width: $screen-sm-max) {
      background: none;
      padding: 0;
      box-shadow: none;
    }
  }
}

.notifications-setting-top {
  padding: 50px 120px;

  @media (max-width: $screen-xs-max) {
    padding: 30px;
  }

  h3 {
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin: 0 0 30px 0;
  }

  .checkbox {
    margin-bottom: 20px;
  }
}

.subscribe-all, .clear-all {
  display: inline-block;
  background-color: #4fc5eb;
  min-width: 230px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: .5px;
  border-radius: 3px;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 15px;
  @include transition(.2s);

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #35b1d8;
  }

  .mdi {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: 2px;
  }
}

.notification-categories {
  background-color: #f1f5f8;
  padding: 50px 120px;

  @media (max-width: 768px) {
    padding: 50px 60px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px;
  }

  .notification-categories-row {
    margin-left: -40px;
    margin-right: -40px;

    @media (max-width: $screen-xs-max) {
      margin: 0;
      justify-content: center;
    }

    .category-col {
      width: 280px;
      min-height: 400px;
      background-color: #fff;
      margin: 0 40px 80px 40px;
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
      @include transition(.5s);

      @media (max-width: 768px) {
        margin: 0 30px 60px 30px;
      }

      @media (max-width: $screen-xs-max) {
        margin: 0 0 30px 0;
        width: 100%;
      }

      &:hover {
        box-shadow: $bs-hover;

        .category-col__info {
          h4 {
            color: $blue-dark;
          }
        }
      }

      &__img {
        height: 180px;
        width: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &__info {
        padding: 20px;

        h4 {
          font-size: 24px;
          line-height: 26px;
          text-transform: uppercase;
          font-weight: 700;
          margin: 0 0 15px 0;
          @include transition(.2s);
        }

        p {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 300;
          text-align: justify;
        }

        .subscribe-button-wrap {
          text-align: center;

          a {
            display: inline-block;
            padding: 10px 40px;
            border: 2px solid $red;
            color: $red;
            border-radius: 3px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            text-decoration: none;
            @include transition(.2s);

            &:hover,
            &.subscribed {
              background-color: $red;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.profile-holder {
  padding: 90px 120px 30px 120px;

  @media (max-width: $screen-lg-max) {
    padding: 90px 30px 30px 30px;
  }

  @media (max-width: 320px) {
    padding: 90px 15px 30px 15px;
  }
}

.upload-wrapper {
  padding-top: 10px;
  padding-right: 40px;
  margin-bottom: 25px;

  @media (max-width: $screen-lg-max) {
    padding-right: 0;
  }

  @media (max-width: $screen-md-max) {
    margin-bottom: 40px;
    padding-top: 0;
  }

  > span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 9px;
  }
}

.upload-input {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px dashed $blue-dark;
  border-radius: 3px;

  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  i {
    display: block;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $blue-dark;
    @include center(both);
  }
}

.text-hint {
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666;
  margin: 5px 0;
  padding-left: 10px;
}

.uploaded-img {
  margin-bottom: 10px;

  img {
    border-radius: 3px;
    width: 100%;
  }
}

.uploaded-img-company {
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid $grey;
  border-radius: 3px;
  position: relative;
  margin-bottom: 10px;

  img {
    @include center(both);
    max-width: 100%;
  }
}

.uploaded-documents {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid $blue-dark;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  padding: 12px 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0));
  }

  .mdi {
    font-size: 28px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
    color: $blue-dark;
    margin-right: 5px;

    &.delete {
      color: $red;
      @include center(vertical);
      right: 0;
      cursor: pointer;
      z-index: 10;
    }
  }

  .doc-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: $blue-dark;
  }
}

.edit-photo-button {
  display: inline-block;
  cursor: pointer;

  &:hover {
    i {
      border-color: transparent;
    }
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    color: $blue-dark;
    font-size: 24px;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: $blue-dark;
    font-style: normal;
    border-bottom: 1px solid $blue-dark;
    @include transition(.2s);

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.blogger-info {
  margin-top: 20px;

  .blogger-info-col {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    .mdi {
      display: inline-block;
      vertical-align: middle;
      color: $blue-dark;
      margin-right: 5px;
      font-size: 22px;
    }

    mark {
      display: inline-block;
      vertical-align: middle;
      background: none;
      padding: 0;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: $blue-dark;
    }
  }
}

.add-company-wrapper {
  padding: 100px 15px;

  @media (max-width: $screen-xs-max) {
    padding: 50px 15px;
  }
}

.add-company-hint {
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
  }
}

.read-more-info {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: $blue-dark;
  border-bottom: 1px solid $blue-dark;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }
}

.add-company-title {
  text-align: center;
  color: #666;
  font-weight: 300;
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 25px;
  }

  .title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 23px;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
      line-height: 23px;
    }
  }
}

.button-styles-wrap {
  .button-styles {
    display: inline-block;
    width: auto !important;
    min-width: 275px;
    margin: 0 10px 15px 10px;

    @media (max-width: $screen-xs-max) {
      width: 100% !important;
      min-width: initial;
      margin: 0 0 15px 0;
    }
  }
}

.input-link {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid $blue-dark;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: $blue-dark;
  padding: 15px 10px;
  outline: none;

  &::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $blue-dark;
  }

  &::-moz-placeholder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $blue-dark;
  }

  &:-ms-input-placeholder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $blue-dark;
  }

  &:-moz-placeholder {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $blue-dark;
  }
}

.reviews-wrap {
  padding: 30px 30px 0 30px;

  @media (max-width: $screen-sm-max) {
    padding: 0;
  }
}

.info-block-wrap {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $bs-default;
  padding: 17px 20px 17px 30px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid transparent;
  @include transition(.3s);

  .admin-user-name {
    .img-wrap {
      width: 50px;
      height: 50px;
      margin-right: 20px;

      img {
        max-width: 100%;
        border-radius: 8px;
      }
    }

    .user-info {
      flex: 1;
    }
  }

  &.active {
    border-color: $blue-light;
    box-shadow: none;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }

  [class*='col-'] {
    position: initial;
  }

  .status {
    @include center(vertical);
    left: -1px;
    width: 4px;
    height: 40px;
    border-radius: 0 10px 10px 0;

    &.grey {
      background-color: #e9eff5;
    }

    &.dark-grey {
      background-color: #99a9b8;
    }

    &.red {
      background-color: $red;
    }

    &.blue {
      background-color: $blue-light;
    }

    &.dark-blue {
      background-color: $blue-dark;
    }

    &.yellow {
      background-color: $yellow;
    }
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;

    i {
      font-style: normal;
      color: $red;
    }
  }

  mark {
    display: inline-block;
    background: none;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
    }

    &.project-name {
      white-space: nowrap;
      display: block;
      position: relative;
      overflow: hidden;

      @media (max-width: $screen-sm-max) {
        white-space: normal;
        display: inline-block;
        overflow: inherit;
      }
      
      &.user-name {
        color: $blue-dark;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 30px;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5));

        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }
    }
  }

  .review-controls {
    @media (max-width: $screen-sm-max) {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .mdi {
      font-size: 22px;
      line-height: 22px;
      margin-left: 10px;
      cursor: pointer;

      &.inprocess {
        color: #4fc5eb;
        cursor: inherit;
      }

      &.finished {
        color: $red;
      }

      &.pause {
        color: $blue-dark;
      }
    }
  }
}

.dropdown-top-right {
  .dropdown-menu {
    left: 22px !important;
    top: -63px !important;
    text-align: right;

    @media (max-width: $screen-sm-max) {
      top: -54px !important;
    }

    &.dropdown-menu-position0 {
      left: 0 !important;
      top: 0 !important;
    }
  }
}

.reviews-search-wrap {
  background-color: #f1f5f8;
  border-radius: 3px;
  padding: 30px;
  box-shadow: $bs-hover;

  @media (max-width: $screen-xs-max) {
    padding: 15px;
  }

  .review-search-block {
    background: #fff;
    box-shadow: $bs-default;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 30px;

    @media (max-width: $screen-xs-max) {
      padding: 0;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .is-project-row {
      margin: 0;

      .is-row-img {
        box-shadow: none;
      }
    }
  }
}

.columns-wrap {
  min-height: 400px;
  position: relative;
  background-color: #f1f5f8;
  overflow: hidden;
  border-radius: 3px;

  @media (max-width: $screen-sm-max) {
    background: none;
  }

  &.active {
    .col-right {
      width: 100%;
      box-shadow: none;

      @media (max-width: 1100px) {
        transform: translateX(0);
      }

      .col-right-wrap-top {
        box-shadow: none;
      }
    }
  }

  &.columns-wrap-membership {
    .col-right {
      @include reset-position;

      .show-hide-button {
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }

  .col-left {
    width: 50%;
    position: relative;
    z-index: 1;
    min-height: 400px;

    @media (max-width: 1100px) {
      width: 100%;
    }

    .col-left-wrap {
      padding: 20px 30px 30px 30px;

      @media (max-width: $screen-sm-max) {
        padding: 0;
      }

      > span {
        display: block;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 30px;

        @media (max-width: $screen-sm-max) {
          color: #fff;
        }
      }
    }
  }

  .col-right {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    background-color: #f1f5f8;
    box-shadow: 13px 0 33px 0 rgba(13, 71, 161, 0.09) inset;
    @include transition(.5s);

    @media (max-width: 1100px) {
      width: 100%;
      transform: translateX(100%);
      box-shadow: none;
      overflow-x: hidden;
    }

    .col-right-wrap-top {
      padding: 20px 30px 0 30px;
      background-color: $yellow;
      box-shadow: 13px 0 33px 0 rgba(13, 71, 161, 0.09) inset;
      margin-bottom: 40px;
      @include transition(.5s);

      @media (max-width: $screen-xs-max) {
        padding: 20px 15px 0 15px;
        margin-bottom: 30px;
      }

      .col-right-controls {
        margin-bottom: 30px;
      }
    }

    .col-right-wrap-body {
      padding: 0 30px;

      @media (max-width: $screen-xs-max) {
        padding: 0 15px 30px 15px;
      }

      .sort-wrapper {
        .sort-col {
          width: 267px;
          margin: 0 15px;

          @media (max-width: 1300px) {
            width: 256px;
          }

          @media (max-width: 1250px) {
            width: 243px;
          }

          @media (max-width: 1200px) {
            width: 218px;
          }

          @media (max-width: 1024px) {
            width: 211px;
          }

          @media (max-width: 768px) {
            width: 206px;
          }

          @media (max-width: $screen-xs-max) {
            width: 100%;
          }
        }
      }
    }
  }
}

.col-doc {
  background-color: #fff;
  min-height: 122px;
  border-radius: 8px;
  box-shadow: $bs-default;
  padding: 20px;
  position: relative;
  width: 267px;
  margin: 0 15px 30px 15px;
  border: 1px solid transparent;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    box-shadow: none;
  }

  @media (max-width: 1300px) {
    width: 256px;
  }

  @media (max-width: 1250px) {
    width: 243px;
  }

  @media (max-width: 1200px) {
    width: 218px;
  }

  @media (max-width: 1024px) {
    width: 211px;
  }

  @media (max-width: 768px) {
    width: 206px;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin: 0 15px 15px 15px;
  }

  &.active {
    border: 1px solid $blue-light;
    box-shadow: none;

    .text-wrap {
      span {
        color: $blue-dark;
      }
    }
  }

  > span, .span-title {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333;
    min-height: 40px;
    margin-bottom: 2px;
    padding-right: 15px;
  }

  .user-info {
    > span {
      @extend .span-title;
    }
  }

  .img-wrap {
    width: 80px;
    height: 80px;
    margin-right: 15px;

    img {
      max-width: 100%;
      border-radius: 8px;
    }
  }

  .text-wrap {
    flex: 1;

    span {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      padding-right: 15px;
      @include transition(.2s);
    }
  }

  mark {
    display: block;
    padding: 0;
    background: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;

    span {
      display: block;
      font-weight: 700;
    }
  }

  .dropdown {
    position: absolute;
    top: 17px;
    right: 12px;

    .mdi {
      font-size: 22px;
      line-height: 22px;
      cursor: pointer;
    }

    .dropdown-menu {
      transform: translate3d(-126px, -27px, 0px) !important;
    }
  }
}

.users-list-wrap {
  .col-doc {
    border-color: transparent !important;
  }
}

.doc-details {
  position: absolute;
  top: 101px;
  right: 0;
  width: 300px;
  height: calc(100% - 101px);
  background-color: #fff;
  z-index: 10;
  box-shadow: $bs-default;
  padding: 30px;
  transform: translateX(100%);
  @include transition(.4s);

  @media (max-width: $screen-xs-max) {
    top: 99px;
  }

  &.show {
    transform: translateX(0);
  }

  span {
    display: block;
  }

  .doc-detail-close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
  }

  .doc-details-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .doc-details-name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $blue-dark;
    margin-bottom: 15px;
  }

  .doc-details-row {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 10px;

    mark {
      display: block;
      background: none;
      padding: 0;
      font-weight: 700;
    }
  }

  .doc-details-activity {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #bec4c8;

    .dd-activity-scroll-wrap {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: auto;
      height: calc(100% - 330px);
      padding: 0 20px;

      .dd-activity-row {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        .svg-wrap {
          margin-bottom: 20px;
        }

        .dd-activity-block {
          margin-bottom: 20px;
        }

        .dd-activity-author {
          .author-img {
            width: 40px;
            height: 40px;
            margin-right: 10px;

            img {
              max-width: 100%;
              border-radius: 50%;
            }
          }

          .author-info {
            .doc-details-row {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

.show-hide-button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding-left: 30px;
  position: relative;
  cursor: pointer;

  &.active {
    &:before {
      content: '\F793';
    }
  }

  &:before {
    content: "\F792";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 24px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    @include transition(.3s);

    @media (max-width: 1100px) {
      content: "\F793";
    }
  }
}

.menu-wrap {
  @media (max-width: $screen-xs-max) {
    white-space: nowrap;
    overflow: auto;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #333;
    position: relative;
    margin-right: 20px;
    padding-bottom: 10px;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
      line-height: 17px;
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #f1f5f8;
      opacity: 0;
      visibility: hidden;
      @include transition(.2s);
    }

    &.active {
      font-weight: 700;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.add-document, .add-project {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #333;
  @include transition(.2s);

  &:hover {
    color: $blue-dark;
    text-decoration: none;
  }

  .mdi {
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
}

.add-project {
  color: $blue-light;
  margin-bottom: 15px;
}

.projects-list-wrap {
  background-color: #f1f5f8;

  @media (max-width: $screen-sm-max) {
    background: none;
  }
}

.top-controls {
  @media (max-width: $screen-sm-max) {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: $bs-default;
    padding: 15px 20px 0 30px;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

.status-hint-wrap {
  margin-bottom: 22px;

  &.bg-white-mobile {
    @media (max-width: $screen-sm-max) {
      background-color: #fff;
      padding: 17px 20px 7px 30px;
      border-radius: 8px;
      box-shadow: $bs-default;
      margin: 15px 0 30px 0;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    position: relative;
    padding-left: 25px;
    margin-right: 25px;

    &.deadline {
      &:before {
        background-color: $red;
      }
    }

    &.new-message {
      &:before {
        background-color: $blue-light;
      }
    }

    &.changes {
      &:before {
        background-color: $yellow;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.repeat-title-line {
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  &.repeat-title-line-white-mobile {
    @media (max-width: $screen-sm-max) {
      &:before, &:after {
        background-color: #fff;
      }

      span {
        color: #fff;
      }
    }
  }

  &:before, &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #99a9b8;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #99a9b8;
    padding: 0 20px;
  }
}

.select-option {
  margin-bottom: 15px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 0;
  }

  .radio-button {
    margin-right: 25px;
    margin-bottom: 15px;
  }
}

.chat-wrap {
  height: 750px;
  border-radius: 3px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    height: 500px;
  }

  .chat-list {
    box-shadow: $bs-hover;
    width: 50%;
    background-color: #f1f5f8;
    position: relative;
    z-index: 1;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .chat-holder-sections {
    width: 50%;

    @media (max-width: $screen-sm-max) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      @include transition(.4s);

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}

.chat-holder {
  background-color: #f1f5f8;
  position: relative;
}

.chat-header {
  background-color: #fff;
  padding: 30px;
  height: 80px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
    height: 62px;
    border-radius: 3px 3px 0 0;
  }

  .mdi {
    display: none;

    @media (max-width: $screen-sm-max) {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      line-height: 20px;
      margin-right: 5px;
    }
  }
}

.chat-list-body {
  padding: 40px 30px;
  overflow: auto;
  height: calc(100% - 80px);

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
    height: calc(100% - 62px);
  }

  .chat-list-row {
    padding: 10px;
    box-shadow: $bs-default;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid transparent;
    @include transition(.3s);

    &:hover {
      box-shadow: none;
    }

    &.active {
      box-shadow: none;
      border-color: $blue-light;
    }

    .img-wrap {
      width: 50px;
      height: 50px;
      border-radius: 3px;
      margin-right: 15px;

      img {
        border-radius: 3px;
        max-width: 100%;
      }
    }

    .chat-preview-info {
      flex: 1;
      overflow: hidden;
      margin-right: 30px;

      .preview-top {
        margin-bottom: 5px;

        a {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
          text-decoration: underline;
          color: #333;
          margin-right: 10px;

          @media (max-width: $screen-sm-max) {
            pointer-events: none;
          }

          &:hover {
            text-decoration: none;
          }
        }

        .date {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          line-height: 16px;
          font-weight: 300;
        }
      }

      .chat-text {
        white-space: nowrap;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 30px;
          background: linear-gradient(to left, white, rgba(255, 255, 255, 0.5));
        }
      }
    }

    .dropdown {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      z-index: 10;

      .mdi {
        font-size: 22px;
        line-height: 22px;
        cursor: pointer;
      }

      .dropdown-menu {
        top: -57px !important;
        left: 13px !important;
        border-radius: 3px;
      }
    }
  }
}

.chat-activity {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  margin-left: 10px;
}

.chat-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: justify;

  mark {
    background: none;
    padding: 0;
    color: $red;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .mdi {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
  }
}

.chat-text-bold18 {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.chat-text-bold16 {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.chat-wrapper {
  padding: 35px 30px 70px 30px;
  height: calc(100% - 80px);
  overflow-x: hidden;

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px 50px 15px !important;
    height: calc(100% - 62px);
  }

  .date {
    margin-left: -30px;
    margin-right: -30px;
    position: relative;

    span {
      color: #99a9b8;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      background-color: #f1f5f8;
      padding: 0 40px;
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: $screen-sm-max) {
        padding: 0 15px;
      }
    }
  }
}

.chat-message {
  width: 390px;
  padding: 15px 15px 25px 15px;
  box-shadow: $bs-default;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid transparent;

  @media (max-width: $screen-sm-max) {
    width: 320px;
  }

  &.incoming {
    border-radius: 0 8px 8px 8px;
  }

  &.your-message {
    background-color: #99a9b8;
    border-radius: 8px 0 8px 8px;
    color: #fff;

    .time {
      color: #fff;
    }
  }

  &.system-message {
    padding: 15px;
    border-radius: 8px 0 8px 8px;
    border-color: $blue-light;
  }

  &.warning-message {
    background-color: $red;
    color: #fff;
    padding: 15px;
    border-radius: 8px 0 8px 8px;
    width: 495px;

    .chat-text {
      font-weight: 700;
    }
  }

  .message-controls {
    white-space: nowrap;

    .mdi {
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
      line-height: 22px;
      margin-left: 5px;
      cursor: pointer;

      &.confirm {
        color: $green;
      }

      &.cancel {
        color: $red;
      }
    }
  }

  .time {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #99a9b8;
  }
}

.chat-search {
  flex: 1;
  margin-left: 30px;

  input {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #333;
    border: none;
    outline: none;
    width: 65px;
    padding: 0 0 3px 0;
    @include transition(.4s);

    @include input-placeholder {
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: #333;
    }

    &:focus, &.active {
      width: 100%;
    }
  }

  .mdi {
    font-size: 22px;
    line-height: 20px;
    margin-left: 5px;
  }
}

.chat-input-wrapper {
  min-height: 50px;
  padding: 10px 30px 5px 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;

  .col-smiles, .col-add {
    margin-right: 20px;

    .mdi {
      font-size: 22px;
      line-height: 22px;
      color: #99a9b8;
      cursor: pointer;
      @include transition(.2s);

      &:hover {
        color: #333;
      }
    }
  }

  .col-message {
    flex: 1;

    .chat-message-textarea {
      border: none;
      outline: none;
      width: 100%;
      padding: 5px 0;
      resize: none;
      font-size: 16px;
      line-height: 23px;
      color: #333;

      @include input-placeholder {
        font-size: 16px;
        line-height: 23px;
        color: #99a9b8;
      }
    }
  }

  .col-send {
    margin-left: 20px;

    .mdi {
      font-size: 22px;
      line-height: 22px;
      color: $blue-light;
      cursor: pointer;
      @include transition(.2s);

      &:hover {
        color: $blue-dark;
      }
    }
  }
}

.system-message-wrapper {
  padding: 20px;
  border: 1px solid $blue-light;
  border-radius: 8px 0 8px 8px;
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;

  span {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $red;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
  }

  .checkbox {
    position: absolute;
    top: 0;
    right: 5px;
  }
}

.board-wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 30px;

  @media (max-width: $screen-sm-max) {
    padding: 15px;
  }
}

.board-section {
  position: relative;
  z-index: 10;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #f1f5f8;
  border-radius: 3px;
  box-shadow: $bs-hover;

  .board-top {
    background-color: #fff;
    padding: 1px 20px 1px 1px;
    border-radius: 3px 3px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 1px 1px 20px 1px;

      .back-wrapper {
        a {
          .back-icon {
            margin-bottom: 10px;
          }

          mark {
            padding: 0 15px;
          }
        }
      }
    }

    .board-controls {
      padding-top: 5px;

      @media (max-width: $screen-xs-max) {
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 0;
      }

      .mdi {
        font-size: 22px;
        line-height: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

.board-body {
  padding: 50px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
  }

  .board-task {
    border-radius: 8px;
    box-shadow: $bs-default;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;

    .board-task-img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      border-radius: 50%;

      img {
        max-width: 100%;
        border-radius: 50%;
      }
    }

    .board-task-text {
      flex: 1;

      .task-name {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: $blue-dark;
      }

      .board-task-info {
        .task-info-col {
          margin-right: 15px;

          .mdi {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            line-height: 20px;
          }

          i {
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
          }
        }
      }
    }

    .dropdown {
      .mdi {
        font-size: 22px;
        line-height: 22px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

.add-task-wrapper {
  width: 100%;
  box-shadow: $bs-default;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  @include transition(.3s);

  @media (max-width: $screen-md-max) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: none;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: $blue-light;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    line-height: 22px;
    color: $blue-light;
  }
}

.progress-holder {
  white-space: nowrap;

  @media (max-width: $screen-lg-max) {
    margin-bottom: 50px;
    text-align: center;
  }
}

.progress-control {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid $blue-light;
  background-color: #fff;
  position: relative;
  box-shadow: $bs-default;
  text-align: center;
  cursor: pointer;

  .mdi {
    display: block;
    font-size: 26px;
    line-height: 40px;
  }
}

.progress-circle-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 80px;
  margin: 0 10px;

  span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    @include center(both);
  }

  .progress-circle {
    transform: rotate(-90deg);
    box-shadow: -8px 0 13px 0 rgba(13, 71, 161, 0.08);
    border-radius: 50%;
  }
}